In [92]:
import pandas as pd
import numpy as np
import random

In [130]:
users = pd.read_csv("users.csv")
medicine = pd.read_csv("medicine.csv")
medicinedisease = pd.read_csv("medicinedisease.csv")
transaction_history = pd.read_csv("transaction_history.csv")
disease = pd.read_csv("disease.csv")

In [138]:
users

   user_id      region
0        1        Jawa
1        2    Sulawesi
2        3     Sumatra
3        4  Kalimantan
4        5       Papua

In [139]:
import pandas as pd

# Buat data
data = {
    'user_id': [1, 2, 3, 4, 5],
    'region': ['Jawa', 'Sulawesi', 'Sumatra', 'Kalimantan', 'Papua']
}

# Buat DataFrame
users = pd.DataFrame(data)

# Simpan ke CSV
users.to_csv("users.csv", index=False)

print(users)

   user_id      region
0        1        Jawa
1        2    Sulawesi
2        3     Sumatra
3        4  Kalimantan
4        5       Papua

In [133]:
users.to_csv("users.csv", index=False)

In [106]:
# Mapping dari U01-U05 ke angka 1-5
user_map = {
    "U01": 1,
    "U02": 2,
    "U03": 3,
    "U04": 4,
    "U05": 5
}
Jawa
Kalimantan
Sumatra
Papua
Sulawesi

# Terapkan mapping ke kolom id di DataFrame users
transaction_history["userId"] = transaction_history["userId"].map(user_map)

In [108]:
transaction_history["medicineId"] *= -1

In [129]:
transaction_history.to_csv("transaction_history.csv", index=False)

In [116]:
# Hitung rata-rata correlation_score untuk setiap kombinasi medicineId-diseaseId
medicinedisease_cleaned = medicinedisease.groupby(["id_medicine", "id_disease"], as_index=False)["correlation_score"].mean()

In [119]:
disease["id"] *= -1

In [120]:
disease.to_csv("disease.csv", index=False)

In [85]:
# Hitung rata-rata skor untuk setiap kombinasi id dan zone
disease_cleaned = disease.groupby(["id", "zone"], as_index=False)["score"].mean()

In [89]:
# Mapping zona
zone_map = {
    "Bekasi": "Jawa",
    "Depok": "Kalimantan",
    "Jakarta Selatan": "Sumatra",
    "Jakarta Timur": "Papua",
    "Tangerang": "Sulawesi"
}

# Terapkan mapping ke kolom 'zone'
disease_cleaned["zone"] = disease_cleaned["zone"].map(zone_map)

In [91]:
disease_cleaned.to_csv("disease.csv", index=False)