In [1]:
import pandas as pd
import numpy as np
import random

In [52]:
users = pd.read_csv("user.csv")
medicine = pd.read_csv("medicine.csv")
medicinedisease = pd.read_csv("medicine&disease.csv")
transaction_history = pd.read_csv("transaction_history.csv")
disease = pd.read_csv("disease.csv")

In [56]:
dis_id_mapping = {f"D{str(i).zfill(3)}": -i for i in range(1, 21)}
med_id_mapping = {f"D{str(i).zfill(3)}": -i for i in range(1, 51)}


# Apply mapping
medicinedisease["id_disease"] = medicinedisease["id_disease"].map(dis_id_mapping)
medicinedisease["id_medicine"] = medicinedisease["id_medicine"].map(med_id_mapping)
disease["id"] = disease["id"].map(dis_id_mapping)

In [59]:
disease

,id,name,zone,Incidence Rate (per 1000 people),score,timestamp
0,-1,Influenza,Jakarta Selatan,18,0.77,2025-03-23
1,-1,Influenza,Jakarta Selatan,105,0.57,2025-03-18
2,-1,Influenza,Jakarta Selatan,89,0.56,2025-03-13
3,-1,Influenza,Jakarta Selatan,18,0.74,2025-03-08
4,-1,Influenza,Jakarta Selatan,34,0.39,2025-03-03
...,...,...,...,...,...,...
1995,-20,Anxiety,Tangerang,119,0.85,2025-01-07
1996,-20,Anxiety,Tangerang,129,0.95,2025-01-02
1997,-20,Anxiety,Tangerang,109,0.85,2024-12-28
1998,-20,Anxiety,Tangerang,97,0.37,2024-12-23
1999,-20,Anxiety,Tangerang,140,0.37,2024-12-18

In [61]:
disease.to_csv("disease.csv", index=False)

In [62]:
disease.rename

,id,name,zone,Incidence Rate (per 1000 people),score,timestamp
0,-1,Influenza,Jakarta Selatan,18,0.77,2025-03-23
1,-1,Influenza,Jakarta Selatan,105,0.57,2025-03-18
2,-1,Influenza,Jakarta Selatan,89,0.56,2025-03-13
3,-1,Influenza,Jakarta Selatan,18,0.74,2025-03-08
4,-1,Influenza,Jakarta Selatan,34,0.39,2025-03-03
...,...,...,...,...,...,...
1995,-20,Anxiety,Tangerang,119,0.85,2025-01-07
1996,-20,Anxiety,Tangerang,129,0.95,2025-01-02
1997,-20,Anxiety,Tangerang,109,0.85,2024-12-28
1998,-20,Anxiety,Tangerang,97,0.37,2024-12-23
1999,-20,Anxiety,Tangerang,140,0.37,2024-12-18