In [1]:
import pandas as pd
import numpy as np
import random

In [52]:
users = pd.read_csv("user.csv")
medicine = pd.read_csv("medicine.csv")
medicinedisease = pd.read_csv("medicine&disease.csv")
transaction_history = pd.read_csv("transaction_history.csv")
disease = pd.read_csv("disease.csv")

In [53]:
medicine_id_mapping = {f"D{str(i).zfill(3)}": -i for i in range(1, 51)}

# Apply mapping
transaction_history["medicineId"] = transaction_history["medicineId"].map(medicine_id_mapping)

In [51]:
medicine.to_csv("medicine.csv", index=False)

In [54]:
transaction_history

                timestamp  medicineId  amount userId  price
0     2025-04-11 06:31:42          -1      10    U01  53284
1     2025-04-11 07:57:54          -1       9    U01  52297
2     2025-04-11 08:00:35          -1       6    U01  52016
3     2025-04-11 12:18:56          -1       6    U01  54813
4     2025-04-11 10:11:15          -1       5    U01  51383
...                   ...         ...     ...    ...    ...
8745  2025-04-05 07:21:40         -50       8    U05  47989
8746  2025-04-05 19:23:27         -50      10    U05  51700
8747  2025-04-05 04:11:44         -50       5    U05  44854
8748  2025-04-05 13:18:52         -50       6    U05  42730
8749  2025-04-05 07:22:37         -50       6    U05  49575

[8750 rows x 5 columns]