In [92]:
import pandas as pd
import numpy as np
import random

In [125]:
users = pd.read_csv("users.csv")
medicine = pd.read_csv("medicine.csv")
medicinedisease = pd.read_csv("medicinedisease.csv")
transaction_history = pd.read_csv("transaction_history.csv")
disease = pd.read_csv("disease.csv")

In [126]:
medicine_base_price = {
    med_id: random.randint(3000, 7000)
    for med_id in medicine["id"].unique()
}

# Step 2: Assign price_per_unit with user-level bias
def generate_price_per_unit(row):
    base = medicine_base_price[row["medicineId"]]
    bias = random.randint(-2000, 2000)  # store-specific bias
    return max(500, base + bias)  # optional: set floor to avoid too low price

transaction_history["price_per_unit"] = transaction_history.apply(generate_price_per_unit, axis=1)

# Step 3: Compute full transaction price
transaction_history["price"] = transaction_history["price_per_unit"] * transaction_history["amount"]

In [127]:
transaction_history.to

                timestamp  medicineId  amount  userId  price  price_per_unit
0     2025-04-11 06:31:42           1      10       1  70520            7052
1     2025-04-11 07:57:54           1       9       1  55080            6120
2     2025-04-11 08:00:35           1       6       1  26058            4343
3     2025-04-11 12:18:56           1       6       1  35076            5846
4     2025-04-11 10:11:15           1       5       1  31380            6276
...                   ...         ...     ...     ...    ...             ...
8745  2025-04-05 07:21:40          50       8       5  27584            3448
8746  2025-04-05 19:23:27          50      10       5  31410            3141
8747  2025-04-05 04:11:44          50       5       5  19935            3987
8748  2025-04-05 13:18:52          50       6       5   9726            1621
8749  2025-04-05 07:22:37          50       6       5   9846            1641

[8750 rows x 6 columns]

In [106]:
# Mapping dari U01-U05 ke angka 1-5
user_map = {
    "U01": 1,
    "U02": 2,
    "U03": 3,
    "U04": 4,
    "U05": 5
}

# Terapkan mapping ke kolom id di DataFrame users
transaction_history["userId"] = transaction_history["userId"].map(user_map)

In [108]:
transaction_history["medicineId"] *= -1

In [114]:
medicinedisease_cleaned.to_csv("medicinedisease.csv", index=False)

In [116]:
# Hitung rata-rata correlation_score untuk setiap kombinasi medicineId-diseaseId
medicinedisease_cleaned = medicinedisease.groupby(["id_medicine", "id_disease"], as_index=False)["correlation_score"].mean()

In [119]:
disease["id"] *= -1

In [120]:
disease.to_csv("disease.csv", index=False)

In [85]:
# Hitung rata-rata skor untuk setiap kombinasi id dan zone
disease_cleaned = disease.groupby(["id", "zone"], as_index=False)["score"].mean()

In [89]:
# Mapping zona
zone_map = {
    "Bekasi": "Jawa",
    "Depok": "Kalimantan",
    "Jakarta Selatan": "Sumatra",
    "Jakarta Timur": "Papua",
    "Tangerang": "Sulawesi"
}

# Terapkan mapping ke kolom 'zone'
disease_cleaned["zone"] = disease_cleaned["zone"].map(zone_map)

In [91]:
disease_cleaned.to_csv("disease.csv", index=False)