In [1]:
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Constants
medicine_ids = [f"D{i:03}" for i in range(1, 50)]
user_ids = [f"U0{i}" for i in range(1, 6)]
days_back = 7
transactions_per_day = 5
total_days = 7

data = []

for medicine in medicine_ids:
    for user in user_ids:
        for day in range(total_days):
            for _ in range(transactions_per_day):
                # Generate random timestamp within 'day' offset from today
                base_date = datetime.now() - timedelta(days=day)
                random_time = base_date.replace(
                    hour=random.randint(0, 23),
                    minute=random.randint(0, 59),
                    second=random.randint(0, 59)
                )
                data.append({
                    "timestamp": random_time.strftime("%Y-%m-%d %H:%M:%S"),
                    "medicineId": medicine,
                    "amount": random.randint(5, 10),
                    "userId": user,
                    "price": None
                })

# Convert to DataFrame
df_transactions = pd.DataFrame(data)

# Optional: save to CSV
df_transactions.to_csv("transaction_history.csv", index=False)

print(df_transactions.head())
print(f"\n✅ Total rows generated: {len(df_transactions)}")

             timestamp medicineId  amount userId price
0  2025-04-11 06:31:42       D001      10    U01  None
1  2025-04-11 07:57:54       D001       9    U01  None
2  2025-04-11 08:00:35       D001       6    U01  None
3  2025-04-11 12:18:56       D001       6    U01  None
4  2025-04-11 10:11:15       D001       5    U01  None

✅ Total rows generated: 8575

In [4]:
base_prices = {
    med_id: random.randint(30000, 60000) for med_id in df_transactions["medicineId"].unique()
}

# Step 2: Assign harga final ke setiap baris dengan toleransi ±5000
def generate_price(med_id):
    base = base_prices[med_id]
    return random.randint(max(base - 5000, 0), base + 5000)

df_transactions["price"] = df_transactions["medicineId"].apply(generate_price)

In [6]:
df_transactions

                timestamp medicineId  amount userId  price
0     2025-04-11 06:31:42       D001      10    U01  53284
1     2025-04-11 07:57:54       D001       9    U01  52297
2     2025-04-11 08:00:35       D001       6    U01  52016
3     2025-04-11 12:18:56       D001       6    U01  54813
4     2025-04-11 10:11:15       D001       5    U01  51383
...                   ...        ...     ...    ...    ...
8570  2025-04-05 08:56:19       D049       8    U05  30089
8571  2025-04-05 14:44:10       D049       7    U05  29007
8572  2025-04-05 10:22:18       D049       6    U05  34856
8573  2025-04-05 12:18:16       D049       5    U05  34935
8574  2025-04-05 00:41:06       D049      10    U05  28562

[8575 rows x 5 columns]

In [8]:
df_transactions.to_csv("transaction_history.csv", index=False)